<!-- Banner -->
<div class="image-carousel a">
  <div class="row"> 
    <div class="col-md"> 
      <div id="blogCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/slide1.jpg" alt="slide-image1" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="subscribe-holder">
                <a href="" class="btn btn-sm btn-info text-light"  data-toggle="modal" data-target="#subscribe_modal">Subscribe to Latest Post</a> </h5>
              <p class="text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ea. Saepe atque,</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/slide2.jpg" alt="slide-image1" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="subscribe-holder">
                <a href="" class="btn btn-sm btn-info text-light" data-toggle="modal" data-target="#subscribe_modal">Subscribe to Latest Post</a> </h5>
              <p class="text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ea. Saepe atque,</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/slide3.jpg" alt="slide-image1" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="subscribe-holder">
                <a href="" class="btn btn-sm btn-info text-light" data-toggle="modal" data-target="#subscribe_modal">Subscribe to Latest Post</a> </h5>
              <p class="text-">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ea. Saepe atque,</p>
            </div>
          </div>
          <a href="#blogCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a href="#blogCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Subscribe Modal -->
<div class="modal fade" id="subscribe_modal" tabindex="-1" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted">
          Subscribe for Newsletters
        </h5>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <!-- <a href="mailto:destinyerhabor6@gmail.com">Email</a> -->
            <input type="email" name="" class="form-control" id="email" placeholder="your email address">
          </div>
          <div class="mb-3">
            <button class="btn btn-sm btn-success">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
