<footer class="footer bg-light py-3 mt-auto">
  <div class="container text-center">
    <div class="text-muted">Created with &hearts; CaesarSage </div>
    <div class="text-muted">&copy; CaesarSage Blog 2020</div>
  </div>
</footer>