img{
  height: 450px;
  max-height:100%;
}
.circle{
  border-radius: 50%!important;
  width: 19em;
  height: 19em;
}
.my-card, .my-list{
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.my-card:hover,
.my-list:hover{
  box-shadow: 2px 2px 12px #00000080;
  transition: all 0.4s ease-in-out;
}
.my-card:nth-of-type(odd){
  background-color: #c9c9c9;
}