<% layout('layout/boilerplate') %>
<form action="/blogs" method="POST">
  <input type="text" placeholder="title" name="blog[title]">
  <textarea id="" cols="10" rows="5" name="blog[content]"></textarea>
  <button>submit</button>
</form>