<% layout('layout/boilerplate') %>
<form action="/blogs" method="POST">
  <input type="text" placeholder="title" name="blog[title]">
  <input type="text" placeholder="image" name="blog[title]">
  <textarea name="" id="" cols="10" rows="5" name="blog[title]"></textarea>
  <button>submit</button>
</form>